<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Eczane_Otomasyon.Properties.Settings.FURY_EczanesiConnectionString"
            connectionString="Data Source=FURY;Initial Catalog=FURY_Eczanesi;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Eczane_Otomasyon.Properties.Settings.Fatih_AYIBASANConnectionString"
            connectionString="Data Source=FURY;Initial Catalog=Fatih_AYIBASAN;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>